[submodule "Selene"]
	path = src/lib/Selene
	url = https://github.com/Vexatos/Selene
[submodule "Slab"]
	path = src/lib/Slab
	url = https://github.com/flamendless/Slab
[submodule "xml2lua-love"]
	path = src/lib/xml2lua-love
	url = https://github.com/frissyn/xml2lua-love
